body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*direction:rtl;*/
    height: 100%;
    color: #999;
    background-color: #222;
}
html
{
    /*direction:rtl;*/
     height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100% - 40px - 20px);
    position: relative;
    max-width: none;
    overflow-y : auto;
    overflow-x : hidden;
}

body div.navbar {
    /*max-height: 70px;*/
    overflow: hidden;
}

footer p {
    text-align: center;
}

footer hr {
    margin: 10px 0 10px 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label{
        direction:rtl;
        width:180px;
}

tr td span{
      font-size:13px;
        direction:rtl ;
        text-align:right;
}

tr  th {
      font-size:15px;
        direction:rtl ;
        text-align:right;
}

.AdminloginForm {
    margin:0 auto;
    outline: 1px solid;
    left: 50%;
    top: 50%;
    padding:10px;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.AdminloginForm .check-box{
    width: 18px;
    height: 18px;
    line-height: 18px;
    top: 3px;
    border: 2px solid #37a000;
} 

#dBusesTable {
    height: calc(100% - 50px - 65px);
}

hr.hr-thin {
    margin: 5px 0 5px 0;
}


.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 1px silver solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}
    
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

#wrapper.active #sidebar-wrapper {
    left: 50px;
}






























    /* Toggle Styles */
 
     #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow: hidden;
    }
 
    #wrapper.toggled {
        padding-left: 250px;
        overflow: scroll;
    }
 
    #sidebar-wrapper {
        z-index: 1000;
        position: absolute; 
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
 
    #page-content-wrapper {
        position: absolute;
        padding: 15px;
        width: 100%;  
        overflow-x: hidden; 
    }
    .xyz{
        min-width: 360px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0px; 
    }
    .fixed-brand{
        width: auto;
    }
    /* Sidebar Styles */
 
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 2px;
    }
 
    .sidebar-nav li {
        text-indent: 15px;
        line-height: 40px;
    }
 
    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999;
    }
 
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
        border-left: red 2px solid;
    }
 
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }
 
    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }
 
    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }
 
    .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
    }
    .no-margin{
        margin:0;
    }
 
    @media(min-width:768px) {
        #wrapper {
            padding-left: 250px;
        }
        .fixed-brand{
            width: 250px;
        }
        #wrapper.toggled {
            padding-left: 0;
        }
 
        #sidebar-wrapper {
            width: 250px;
        }
 
        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }
        #wrapper.toggled-2 #sidebar-wrapper {
            width: 50px;
        }
        #wrapper.toggled-2 #sidebar-wrapper:hover {
            width: 250px;
        }
 
 
        #page-content-wrapper {
            padding: 20px;
            position: relative;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
 
        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
            padding-left: 250px;
        }
        #wrapper.toggled-2 #page-content-wrapper {
            position: relative;
            margin-right: 0;
            margin-left: -200px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            width: auto;
 
        }
    }  