@using Business_Logic;
@{
    ViewBag.Title = "Index";
}
<content style="direction:rtl">
    <div >
        <h2>ניהול מידע</h2>
        <p> <a href=@Url.Action("btnExportToExcel_Click", "Manage") download> הורד אקסל סטודנטים </a></p>
        <p> <a href=@Url.Action("btnExportToExcel2", "Manage") >  הורד אקסל סטודנטים מקוצר</a></p>

    </div>
    <div class="navbar-inner" style="float:right;">
        <ul class="list-group" >
            <li class="list-group-item">סך משפחות במערכת <span class="badge">@ViewBag.totalStudents</span></li>
            <li class="list-group-item">סך סטודנטים במערכת<span class="badge">@ViewBag.totalFamilies</span></li>
            <li class="list-group-item">סך סטודנטים רשומים במערכת <span class="badge">@ViewBag.totalRegistrationStudents</span></li>
        </ul>
    </div>

</content>
<style>
    .list-group-item>.badge {
    float: left;
}
    .list-group-item {
    background-color:black;

}
</style>