@using System.Web.Optimization
@section scripts{
    @Scripts.Render("~/bundles/insets")
    <script type="text/javascript">
        $(document).ready(insets.init);
    </script>
}

<div class="header" style="padding-left: 10px; border-bottom: 1px solid #999; ">
    <h2>
        <a href="javascript:insets.buses.addBus();" title="Add new bus" style="margin-left: 5px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <span style="margin-left: 5px; font-size: 10pt;" id="spStatus"></span>
    </h2>
</div>
<div class="header">
    <h2>Buses</h2>
    <div class="glyphicon glyphicon-chevron-up toggle" id="btToggleBuses"></div>
</div>
<div class="content" id="dBusesTable">
    <table id="grBuses"></table>
    <div id="pgBuses"></div>
</div>